html, body {
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

.bg {
    background-image: url("../images/login.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* Add styles to the form container */
.container {
  position: absolute;
  font-weight: 400;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  margin: auto;
}

#title{
  font-size: 35px;
  font-weight: 300;
  color: white;
}

#inputEmail {
  height: 48px;
  margin: 20px 50px 25px -20px;
  width: 310px;
  border-radius: unset;
  box-shadow: 3px 2px #555;
}

.signupBtn {
  border: none;
  font-size: 16pt;
  font-weight: bold;
  width: 255px;
  height: 50px;
  background-color: #FFAC8F;
  color: white;
  box-shadow: 3px 2px #555;
}

.signupBtn:hover {
  background-color: #FFAC8F !important;
}

.skip {
  text-decoration: none !important;
  font-size: 25px;
  font-weight: 300;
  color: white !important;
}
